
@font-face {
    font-family: 'FolksLightRegular';
    src: url('Folks-Light-webfont.eot');
    src: url('Folks-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Folks-Light-webfont.woff') format('woff'),
         url('Folks-Light-webfont.ttf') format('truetype'),
         url('Folks-Light-webfont.svg#FolksLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FolksRegular';
    src: url('Folks-Normal-webfont.eot');
    src: url('Folks-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('Folks-Normal-webfont.woff') format('woff'),
         url('Folks-Normal-webfont.ttf') format('truetype'),
         url('Folks-Normal-webfont.svg#FolksRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FolksBold';
    src: url('Folks-Bold-webfont.eot');
    src: url('Folks-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Folks-Bold-webfont.woff') format('woff'),
         url('Folks-Bold-webfont.ttf') format('truetype'),
         url('Folks-Bold-webfont.svg#FolksBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FolksHeavyRegular';
    src: url('Folks-Heavy-webfont.eot');
    src: url('Folks-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('Folks-Heavy-webfont.woff') format('woff'),
         url('Folks-Heavy-webfont.ttf') format('truetype'),
         url('Folks-Heavy-webfont.svg#FolksHeavyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

